@import "tailwindcss";

@theme {
  --color-pastel-pink: #FFB7B2;
  --color-pastel-mint: #B5EAD7;
  --color-pastel-purple: #C7CEEA;
  --color-pastel-blue: #A0E7E5;
  --color-pastel-yellow: #FFDAC1;
  --color-pastel-lavender: #E2F0CB;
}

@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}